esercizioDTD2.dtd

<!ELEMENT TEI (header, facsimile?, text+) >
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT text (#PCDATA|sec)*>
<!ELEMENT sec (#PCDATA)>


<!ATTLIST header 
    type CDATA #FIXED "intestazione" 
    lang NMTOKEN #IMPLIED
>
<!ATTLIST facsimile
    source CDATA #REQUIRED
    ref IDREFS #IMPLIED
>
<!ATTLIST text
    id ID #REQUIRED
    type CDATA #IMPLIED
>